.mailErrModal {
  height: 100%;
  width: 100%;
  background-color:#a1a1a1cb;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.mailErrModal.active {
  transform: scale(1);
}

.mailErrModalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #ffffff;
  height: 260px;
  width: 360px;
}

.mailErrHeader {
  font-weight: 400;
  font-size: 18px;
  color: #121212;
}

.mailErrMesage {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #4d4d4d;
  margin-bottom: 10px;
}

.mailErrBtn {
  width: 160px;
  height: 38px;
  border: none;
  background-color: #121212;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.mailErrBtn:active {
  background: #3f3f3f;
}

.mailErrBtn:hover {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
