.logInModal {
  height: 100%;
  width: 100%;
  background-color:#a1a1a1cb;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.logInModal.active {
  transform: scale(1);
}

.logInModalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: #ffffff;
  width: 360px;
  height: 380px;
  /* border: 1px solid #e22626; */
}

.login {
  font-size: 24px;
  font-weight: 500;
  color: #4d4d4d;
}

.logModalHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  height: 80px;
  gap: 16px;
  padding: 0 30px;
  /* border: 1px solid #c4c710; */
}


.isReg {
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-weight: 400;
  margin: 0 auto 0 auto;
  font-size: 14px;
  color: #121212;
  /* border: 1px solid #2210c7; */
}

.reg {
  cursor: pointer;
  /* margin-left: 30px; */
  font-weight: 600;
}

.emailInput {
  display: flex;
  padding-left: 10px;
  width: 300px;
  height: 34px;
  font-weight: 400;
  font-size: 16px;
  color: #a7a7a7;
  margin-bottom: 15px;
}


.passwordInput {
  display: flex;
  padding-left: 10px;
  width: 300px;
  height: 34px;
  font-weight: 400;
  font-size: 16px;
  color: #a7a7a7;
  margin-bottom: 90px;
}

.allInputsLog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  width: 160px;
  height: 38px;
  border: none;
  background-color: #121212;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.loginButton:active {
  background: #3f3f3f;
}

.loginButton:hover {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}


.closeIcon {
  position: absolute;
  top: 30px;
  right: 24px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
