.logInModal {
<<<<<<< HEAD
  height: 100%;
  width: 100%;
  background-color:#a1a1a1cb;
=======
  height: 100vh;
  width: 100vw;
  background-color:rgb(187, 182, 175, 0.8);
>>>>>>> dev
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
<<<<<<< HEAD
}

.logInModal.active {
  transform: scale(1);
}

.logInModalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: #ffffff;
  width: 360px;
  height: 380px;

  /* border: 1px solid #e22626; */
=======
  z-index: 99999;
}

.logInModal.active {
    transform: scale(1);
}

.logInModalContent {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  height: 422px;
  width: 656px;
>>>>>>> dev
}

.login {
  font-size: 24px;
  font-weight: 500;
  color: #4d4d4d;
  /* margin-bottom: 30px; */
}

.logModalHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  height: 80px;
  gap: 16px;
  padding: 0 30px;
  /* border: 1px solid #c4c710; */
}
<<<<<<< HEAD

=======
.logModalHeaderPlus {
  display: flex;
}
.img {
  margin-left: 24px;
  cursor: pointer;
}
>>>>>>> dev
.isReg {
  display: flex;
  font-weight: 400;
  margin: 0 auto 0 auto;
  font-size: 14px;
  color: #121212;
  /* border: 1px solid #2210c7; */
}

.reg {
  cursor: pointer;
  margin-left: 40px;
  font-weight: 600;
}

.emailInput {
  display: flex;
  padding-left: 10px;
  width: 300px;
  height: 34px;
  font-weight: 400;
  font-size: 16px;
  color: #a7a7a7;
  margin-bottom: 15px;
}


.passwordInput {
  display: flex;
  padding-left: 10px;
  width: 300px;
  height: 34px;
  font-weight: 400;
  font-size: 16px;
  color: #a7a7a7;
  margin-bottom: 90px;
}

.loginButton {
  width: 160px;
  height: 38px;
  border: none;
  background-color: #121212;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.closeIcon {
  position: absolute;
  top: 30px;
  right: 24px;
  width: 30px;
  height: 30px;
}
