.wrapper {
  width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border-bottom: 1px solid #d31717; */
  /* margin-bottom: 20px; */
  /* gap: 120px; */
  /* border: 1px solid #098319; */
}

.cardContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 751px;
  padding: 30px 30px 0 30px;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  /* border: 1px solid #cfcfcf; */
}

.productImg {
  width: 540px;
  height: 691px;
  /* border: 1px solid #e03d3d; */
}

.descriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 840px;
  height: 691px;
  padding: 30px 0 30px 30px;
  /* border: 1px solid #3f3f3f; */
}

.description {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-right: 30px;
  font-size: large;
  width: 520px;
  height: 640px;
  /* border: 1px solid #3f3f3f; */
}

/* .priceContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
} */

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 640px;
  width: 260px;
  /* border: 1px solid #e9e9e9; */
  /* box-shadow: 1px 1px 10px 1px #d4d4d4; */
  /* padding: 30px; */
}

.btnContainer .price {
  font-size: 33px;
  margin-bottom: 20px;
}

.alertSize {
  font-size: 16px;
}


.addToCardBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 260px;
  height: 50px;
  padding: 20px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  background-color: #121212;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.ratingDiv {
  width: 180px;
  height: 30px;
  font-size: 24px;
}

.setRatingDiv {
  width: 180px;
  height: 30px;
  font-size: 24px;
}

.addToCardBtn:active {
  background: #3f3f3f;
}

.addToCardBtn:hover {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .backArrow {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  width: 70px; */
  /* border: 1px solid #e03d3d; */
/* } */

/* .backArrow img {
  width: 15px;
  margin-right: 5px;
} */

.sizeBar {
  display: flex;
  gap: 15px;
}

.sizeInActive {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  /* padding-top: 6px; */
  width: 40px;
  height: 40px;
  border: 1px solid #cbcbcb;
  border-radius: 4px;

}

.sizeActive {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  /* padding-top: 6px; */
  text-align: center;
  width: 40px;
  height: 40px;
  border: 1px solid #a1a1a1b0;
  background-color: #cbcbcb9c;
  box-shadow: 1px 1px 15px 1px #d4d4d4;
  border-radius: 4px;

}

.sizeInActive:hover,
.sizeActive:hover {
  cursor: pointer;
  background-color: #cbcbcb;
}

.ddToggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 600;
  width: 180px;
  border: 1px solid #9b9b9b;
  height: 35px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.ddToggle:hover {
  background-color: #e4e4e4;
}

.ddToggle img {
  padding-left: 20px;
}

.ddMenu li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  width: 180px;
  margin-top: 2px;
  z-index: -1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #9b9b9b;
}

.ddMenu li:hover {
  cursor: pointer;
  background-color: #cbcbcb;
}



.ddMenu {
  font-size: 16px;
  font-weight: 600;
  width: 150px;
}



.colorIcon {
  font-size: 20px;
  border: 1px solid #121212;
  border-radius: 50%;
}

.favoriteFalse,
.favoriteTrue {
  position: absolute;
  top: 60px;
  left: 515px;
  cursor: pointer;
  width: 25px;
}

.alertSize {
  font-weight: 600;
}
