.slider {
  width: 720px;
  height: 400px;
  margin-top: 0px;
  background-color: #FAFAFB;
}

.sliderDiv {
  position: relative;
  width: 1440px;
  height: 400px;
  margin-top: 0px;
  background-color: #FAFAFB;
}

.slider img {
  width: 720px;
  height: 400px;
}

.sliderDescriptionDiv {
  position: absolute;
  top: 50%;
  right: 200px;
}

.sliderTitle {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -1px;
  color: #121212;
  margin-bottom: 10px;
}

.sliderDescription {
  font-size: 16px;
  margin-bottom: 20px;
}

.sliderDescriptionBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 170px;
  height: 40px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  background-color: #121212;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.sliderDescriptionBtn:active {
  background: #3f3f3f;
}

.sliderDescriptionBtn:hover {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sliderDescriptionBtn img {
  width: 25px;
  height: 25px;
}
