.successModal {
  height: 100%;
  width: 100%;
  background-color:#a1a1a1cb;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}
.successModal.active {
  transform: scale(1);
}

.successModalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #ffffff;
  width: 360px;
  height: 220px;
}
.successHeader {
  font-weight: 400;
  font-size: 18px;
  color: #121212;
}

.successMesage {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #4d4d4d;
}

.successBtn {
  width: 160px;
  height: 38px;
  border: none;
  background-color: #121212;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
