.regModal {
  height: 100%;
  width: 100%;
  background-color:#a1a1a1cb;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}
<<<<<<< HEAD

.regModalContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
=======
.regModal.active {
  transform: scale(1);
}

.regModalContent {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  height: 537px;
  width: 656px;
}
.registration {
  width: 532px;
  height: 44px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.4px;
  color: #121212;
  flex: none;
  order: 0;
  flex-grow: 1;
}
.regModalHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 588px;
  height: 94px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.regModalHeaderPlus {
  display: flex;
}
.img {
  margin-left: 24px;
  cursor: pointer;
}
.isLog {
  display: flex;

  width: 588px;
  height: 26px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;

  color: #121212;
}

.enter {
  cursor: pointer;
  margin-left: 10px;
  font-weight: 400;
}

.allInputsReg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  gap: 24px;

  width: 588px;
  height: 362px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.inputs {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
>>>>>>> dev
  align-items: center;
  padding: 30px 30px;
  background-color: #ffffff;
  width: 360px;
  height: 380px;
  /* border: 1px solid #e22626; */

}
<<<<<<< HEAD

.regModal.active {
  transform: scale(1);
}

.regModalHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  height: 80px;
  gap: 16px;
  padding: 0 30px;
  /* border: 1px solid #c6e226; */
}

.registration {
  font-size: 24px;
  font-weight: 500;
  color: #4d4d4d;
}

.isLog {
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-weight: 400;
  font-size: 14px;
  color: #121212;
  /* border: 1px solid #5e26e2; */
}

.enter {
  cursor: pointer;
  margin-left: 40px;
  font-weight: 600;
}


.logInModalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: #ffffff;
  height: 320px;
  width: 360px;
  /* border: 1px solid #e22626; */
}


.emailInput {
  display: flex;
  padding-left: 10px;
  width: 300px;
  height: 34px;
  font-weight: 400;
  font-size: 16px;
  color: #a7a7a7;
  margin-bottom: 15px;
}

.phoneInputs {
  display: flex;
  padding-left: 10px;
  width: 300px;
  height: 34px;
  font-weight: 400;
  font-size: 16px;
  color: #a7a7a7;
  margin-bottom: 15px;
}

.passwordInputs {
  display: flex;
  padding-left: 10px;
  width: 300px;
  height: 34px;
  font-weight: 400;
  font-size: 16px;
  color: #a7a7a7;
  margin-bottom: 5px;
}

.allInputsReg p{
  font-size: 12px;
  margin-bottom: 20px;
}


.regButton {
  width: 160px;
  height: 38px;
  border: none;
  background-color: #121212;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}


.closeIcon {
  position: absolute;
  top: 30px;
  right: 24px;
  width: 30px;
  height: 30px;
}
=======
>>>>>>> dev
