.filterBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 200px;
  /* border: 1px solid #eb3939; */
}

.filterHeader {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  gap: 70px;
  /* border: 1px solid #39eb42; */

}

.filterHeader img {
  /* margin-top: 8px; */
}

.filterHeader img:hover {
  cursor: pointer;
}


h3 {
  margin-bottom: 15px;
}

.catInActive,
.sexInActive,
.ageInActive {
  padding: 4px 0 8px 10px;
  color: #807e7e;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  transition: color 0.3s ease;
}

.catInActive:hover,
.sexInActive:hover,
.ageInActive:hover {
  color: black;
}

.catActive,
.sexActive,
.ageActive {
  padding: 4px 0 8px 10px;
  width: 100%;
  height: 20;
  background-color: black;
  color: white;
  border-radius: 4px;
}

.filterBar p:hover {
  cursor: pointer;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.catSpan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sizes {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mainSizes {
  display: flex;
  gap: 12px;
}

.addictSizes {
  display: flex;
  gap: 12px;
}

.mainSizes button {
  width: 43px;
  height: 38px;
  border: 1px solid #CBCBCB;
  font-weight: 400;
  font-size: 14px;
}

.mainSizes button:hover {
  cursor: pointer;
}

.addictSizes button {
  width: 88px;
  height: 38px;
  border: 1px solid #CBCBCB;
  font-weight: 400;
  font-size: 14px;
}

.addictSizes button:hover {
  cursor: pointer;
}

.colors {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.iconSpan {
  display: flex;
  gap: 12px;
}

.colorIcon {
  font-size: 35px;
}

.colorIcon:hover {
  cursor: pointer;
}

#white {
  color: white;
  border: 1px solid black;
  border-radius: 100%;
}

#blue {
  color: rgb(74, 119, 254);
}

#red {
  color: rgb(253, 32, 32);
}
