.catalog {
  width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid #098319; */
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 20px;
}

.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 120px;

}

.filterBar {
  /* border: 1px solid #340983; */
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.productsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid #ee3a0d; */
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.loadedCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  gap: 20px;
}

.pagination {
  margin: 0 auto 60px auto;
}
