/* .wrapper {
  width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  /* border-bottom: 1px solid #cfcfcf;
  margin-bottom: 20px; */
  /* gap: 120px; */
  /* border: 1px solid #098319; */
/* } */

.conteiner {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  /* padding: 0px; */
  /* position: relative; */
  width: 1440px;
  height: 700px;
  padding: 30px;
  margin-bottom: 60px;
  border: 1px solid #d1d1d1;

}

.title {
  width: 100%;
  margin-bottom: 50px;
  border-bottom: 1px solid #d1d1d1;
  color: #4d4d4d;
}

.dashboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  /* border: 1px solid #e01010; */
}

.dashboarlink {
  border-bottom: 1px solid transparent; 
}

.dashboarlink:hover {
  border-bottom: 1px solid #d1d1d1;
}


.navigatorlink {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 550px;
  gap: 20px;
  cursor: pointer;
  /* border: 1px solid #d910e0; */
  border-right: 1px solid #d1d1d1;
  padding-right: 30px;
}

.navigatorinfo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 560px;
  font-size: 18px;
  gap: 30px;
  color: #121212;
  /* border: 1px solid #161616; */
  overflow: auto;
}


.backArrow {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  width: 70px;
  /* border: 1px solid #e03d3d; */
}

.backArrow img{
  width: 15px;
  margin-right: 5px;
}
