.iconDiv {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  font-size: 28px;
  color: #ff760d;
}

.iconDiv p {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  padding-left: 10px;
}
