.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 228px;
  height: 390px;
}

.card p {
font-weight: 600;
}

.img {
  width: 228px;
  max-height: 304px;
}

.card:hover {
  cursor: pointer;
}
