.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 340px;
  margin-bottom: 30px;
  /* padding: 10px; */
  border: 1px solid #d8d8d8;
  padding: 10px 10px 0 10px;
  transition: box-shadow 0.2s, ease-in-out, transform 0.2s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0px 10px 15px #d1d1d1;
  transform: translateY(-1px);
  border: none;
}

.img {
  width: 100%;
  max-height: 250px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.name {
  font-size: 18px;
  font-weight: 200;
}

.brand {
  font-weight: 700;
}

.price {
  font-weight: 400;
}



