.Main {
  width: 1107px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Head {
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: center;
}
.DileveryLine {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.DileveryLiner {
  height: 8px;
  width: 300px;
  border-radius: 45px;
  background: #20c997;
}
.Content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
}

.InfoGoods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Img_Product {
  width: 77px;
  height: 102px;
  margin-right: 16px;
  border: 1px solid black;
}
.Icon_Trash {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.TrashContainer {
  display: flex;
  align-items: center;
}
.Btn_Remove {
  width: 50%;
  border: none;
  cursor: pointer;
}
.ProductChildElement {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.ProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}
/* погуглить другие способы наследования классов */
.Subtotal,
.Product,
.Price,
.Quantity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
}
.Count {
  padding: 0 10px 0 10px;
}
.CounterBorder {
  border: 1px solid #cbcbcb;
  border-radius: 4px;
}
.Counter,
.PriceCounter {
  display: flex;
  align-items: center;
  height: 100%;
}
.Dicrement,
.Increment {
  border: none;
  padding: 6px 8px;
  cursor: pointer;
}
.InfoOrder {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
.LeftSide_Promocod {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 538px;
}
.RightSide_DeliveryChoice {
  padding: 13px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
}
.DeliveryPrice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 490px;
  height: 52px;
  padding-right: 16px;
  border-radius: 4px;
}
.ShippingContainer {
  display: flex;
  align-items: flex-start;
}
.SpanPrice {
  padding-left: 12px;
}
.RadioPrice {
  margin-left: 16px;
  zoom: 1.3;
  cursor: pointer;
}
.Btn_Order {
  width: 100%;
  color: white;
  background: black;
  cursor: pointer;
}
.Test1 {
  border: 1px solid black;
}
.Test2 {
  border: 1px solid red;
}
.styles.Test2 {
  border: none;
}
.PromoInput {
  height: 52px;
  width: 424px;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
}
.BtnPromoInput {
  border: none;
  margin-left: -90px;
  cursor: pointer;
}
