.wrapper {
  position: absolute;
  top: 205px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 340px;
  /* border: 1px solid #f00e0e; */
}

.conteiner {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  /* padding: 32px; */
  /* gap: 10px; */
  width: 100%;
  height: 40px;
  padding: 0 20px 0 20px;
  background-color: #ebebeb69;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

/* .titleText {
  width: 85%;
} */

/* .title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} */

.btnblock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  cursor: pointer;
}

.editAddressForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.labelAndTextarea {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.labelTextarea {
  font-size: 16px;
  /* padding-left: 20px; */
}

.checkMarkRing {
  margin-top: 15px;
  margin-right: 11px;
  cursor: pointer;
  height: 25px;
}

/* .editIconBtn:active {
  background-color: #f5c658;
  border-radius: 50%;
}

.deleteIconBtn:active {
  background-color: #f85252;
  border-radius: 50%;
} */

.editBtn {
  border: none;
  background: none;
  margin-bottom: 10px;
}

.checkMarkRing:active {
  background-color: #d6d6d6;
  border-radius: 50%;
}

.textAreaSizer {
  overflow: hidden;
  height: 30px;
  width: 600px;
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 20px;
}
