.mainFooterConteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  height: 381px;
  background: #fafafb;
}

.content {
  margin: 30px 52px 10px 52px;
  border-bottom: 1px solid #b6b3b3;
  max-width: 1336;
  width: auto;
  height: 162px;
  display: flex;
}

.columnName {
  width: 50%;
  display: flex;
  align-items: center;
}

.contentInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.columnShop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: max-content;
}
.columnInfo {
  display: flex;
  flex-direction: column;
  width: max-content;
}
.columnCompany {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.textlink {
  cursor: pointer;
  font-size: 14px;
}
/* .textlink:hover {
  font-weight: bold;
} */

.titletext {
  font-size: 16px;
  font-weight: bold;
}

.bottomRow {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 10px 0px 0px;
  margin-left: 52px;
  margin-right: 0px;
  height: 48px;
}
.copyright {
  width: 91%;
}

.socialnet {
  cursor: pointer;
  display: flex;
  gap: 30px;
}
