.mainFooterConteiner {
  padding: 50px 50px;
  width: 100%;
  height: 400px;
  background: #fafafb;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #b6b3b3;
  width: 1440px;
  height: 210px;
  margin-bottom: 20px;
}

.columnName {
  display: flex;
  flex-direction: column;
}

.contentInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px;
}

.columnShop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.columnInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.columnCompany {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textlink {
  cursor: pointer;
  font-size: 14px;
}

.titletext {
  font-size: 16px;
  font-weight: bold;
}

.bottomRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.socialnet {
  display: flex;
  gap: 30px;
}


.telegramIcon {
  cursor: pointer;
  height: 20px;
}

.emailIcon {
  cursor: pointer;
  height: 17px;
}
