.mainFooterConteiner {
  position: absolute;
  top: 1295px;
  left: 0;
  width: 1440px;
  height: 381px;
  border: 1px solid #b6b3b3;
  font-family: inter-ui;
  background: #fafafb;
}

.content {
  padding: 72px 52px;
  width: 1336px;
  height: 162px;
  display: flex;
}

li {
  list-style-type: none;
  cursor: pointer;
}

ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 30px;
}

.columnName {
  width: 668px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.columnShop {
  width: 222px;
}
.columnInfo {
  width: 223px;
}
.columnCompany {
  width: 222px;
}

.textlink {
  cursor: pointer;
  font-size: 14px;
}
.textlink:hover {
  color: blue;
  font-weight: bold;
}
.titletext {
  font-size: 16px;
  font-weight: bold;
}

.copyright {
  padding: 0px 0px 0px 0px;
  margin-left: 52px;
  width: 1336px;
  height: 48px;
  display: flex;
  align-items: flex-end;
  border-top: 1px solid #b6b3b3;
}
