.conteiner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  margin-bottom: 30px;
  width: 260px;
  height: 80px;
  border: 1px solid #cbcbcb;
  /* border-radius: 6px; */
}
.titleText {
  width: 85%;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.btnblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  cursor: pointer;
}

.editAddressForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.labelAndTextarea {
  margin: 0px;
  padding: 0px;
}

.labelTextarea {
  font-size: 11px;
}
.checkMarkRing {
  margin-top: 2px;
  margin-right: 11px;
  cursor: pointer;
  height: 15px;
}

.editIconBtn {
  height: 20px;
}
.editIconBtn:active {
  background-color: #f5c658;
  border-radius: 50%;
}

.deleteIconBtn {
  height: 35px;
}
.deleteIconBtn:active {
  background-color: rgb(107, 32, 32);
  border-radius: 50%;
}

.editBtn {
  border: none;
  background: none;
  height: 20px;
}

.checkMarkRing:active {
  background-color: rgb(10, 92, 7);
  border-radius: 50%;
}

.isAdminIcon {
  background-color: green;
  border-radius: 50%;
  height: 20px;
}
.phoneNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  gap: 5px;
}
.phoneIcon {
  height: 16px;
}

.emailAddress {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  gap: 3px;
}

.editInputConteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.isAdminInputArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  padding-right: 3px;
}
.userIsActivatedArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  padding-right: 3px;
}
